*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(40, 3, 74, 0.949);
    display: flex;
    justify-content: center;
  
}
.div {
    width: 400px;
    height: 350px;
    background-color:rgba(255, 248, 220, 0.227);
    text-align: center;
    padding-top: 45px;
    margin: 70px;
    box-shadow: 0 0 12px 4px;
}
input{
    padding: 11px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px;
}
.btn{
    padding: 17px 30px 17px 30px ;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px 5px;
}
.btn:hover{
    transition: all 1s ease;
    background-color: rgb(183, 203, 5);
    color: black;
}